<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email">Upcoming Datathon Event
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="https://wids-nyc-columbia-university-datathon.eventbrite.com" class="button">Sign Up</a>
      </div>
    {% endif %}
</div>
