<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email">Join the datathon event's waiting list
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScgl6uot4NaBmxeTEBOIsFKRDtvisEOftXOBvfY85xnK3a39g/viewform" class="button">Join</a>
      </div>
    {% endif %}
</div>
